{#
/**
 * @file
 * File description
 */
#}

<ul id="tabs">
    {% for key, value in data['value']  %}
        <li>
            <a id="tab-{{ key }}">
                {{ (value.displayName in value) ? value.displayName : value.name }}
            </a>
        </li>
    {% endfor %}
</ul>

{# Content tab section #}
{% for key, value in data['value']  %}
    <div id="data-tab-{{ key }}" class="tabcontent"></div>
{% endfor %}
