{#
/**
 * @file
 * File description
 */
#}

<h3>Render Zone</h3>

<ul id="tabs">
    {% for key, value in data %}
        <li>
            <a id="tab-{{ key }}">
                {{ key }} : {{ value }}
            </a>
        </li>
    {% endfor %}
</ul>

{# Content tab section #}
{# {% for key, value in data['value']  %} #}
{#    <div id="data-tab-{{ key }}" class="tabcontent"></div> #}
{# % endfor %} #}

<br>
<hr>
<br>

<div id="embedContainer" class="reportContainer iframeContainer active" style="visibility: visible;">
</div>